@import "tailwindcss";

:root {
  --background: #f7f4ee;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-code);
  --font-handwriting: var(--font-handwriting);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);

  position: relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background:
    radial-gradient(circle at top, rgba(255, 255, 255, 0.6), transparent 60%),
    url("/textures/paper.webp");

  background-size: cover, 600px;

  background-repeat: no-repeat, repeat;

  opacity: 0.09;

  z-index: -2;
  pointer-events: none;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;

  background: url("/textures/grain.webp");
  background-repeat: repeat;
  background-size: 180px;

  opacity: 0.02;

  z-index: -1;
  pointer-events: none;
}

.heading-font {
  font-family: var(--font-heading);
}

.handwritten {
  font-family: var(--font-handwriting);
}

.code-font {
  font-family: var(--font-code);
}

.body-font {
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #f8b7a1;
  color: #171717;
}
